.vscode/*

storage/OECAgent
storage/OECCoordinator
storage/OECClient
storage/ECDAGTest
storage/HDFSClient
storage/CodeTest

storage/entryStore
storage/poolStore

storage/src/CMakeFiles/*
storage/src/common/CMakeFiles/*
storage/src/common/CMakeFiles/common.dir/
storage/src/common/*.a
storage/src/util/CMakeFiles/*
storage/src/util/*.a
storage/src/ec/CMakeFiles/*
storage/src/*/*.a

storage/src/*.swp
storage/src/*/*.swp

storage/src/protocol/CMakeFiles/*
storage/src/fs/CMakeFiles/*

storage/coor_output

storage/CMakeCache.txt
storage/CMakeFiles/
storage/cmake_install.cmake
storage/src/cmake_install.cmake
storage/src/*/CMakeCache.txt
storage/src/*/CMakeFiles/
storage/src/*/cmake_install.cmake

count.sh

client/.deps/
client/.deps/*
client/Makefile
client/*/.deps/
client/*/.deps/*
client/*/Makefile
client/src/*/.deps/
client/src/*/.deps/*
client/src/*/Makefile

client/config.hh
client/config.hh.in
client/config.log
client/config.status
client/configure.scan
client/Makefile
client/src/Makefile

client/autom4te.cache/
client/autom4te.cache/*

client/*.o
client/src/*.o
client/src/*/*.o
client/*.a
client/src/*.a
client/src/*/*.a
client/config/*

client/agent
client/client

destor/aclocal.m4
destor/compile
destor/config.log
destor/config.status
destor/autom4te.cache
destor/proxy
destor/*/*/Makefile.in
destor/destor.config
destor/*.o
destor/src/*.o
destor/src/*.a
destor/src/*/*.a
destor/src/*/*.o
destor/destor
destor/src/.deps/
destor/src/*/.deps/
Makefile
utils/log/*