storage/OECAgent
storage/OECCoordinator
storage/OECClient
storage/ECDAGTest
storage/HDFSClient
storage/CodeTest

storage/entryStore
storage/poolStore

storage/src/CMakeFiles/*
storage/src/common/CMakeFiles/*
storage/src/common/*.a
storage/src/util/CMakeFiles/*
storage/src/util/*.a
storage/src/ec/CMakeFiles/*
storage/src/*/*.a

storage/src/*.swp
storage/src/*/*.swp

storage/src/protocol/CMakeFiles/*
storage/src/fs/CMakeFiles/*

storage/coor_output

libmemcached-1.0.18/*/*.o
libmemcached-1.0.18/*/*.lo
libmemcached-1.0.18/*/*.la
libmemcached-1.0.18/*/*.dirstamp
libmemcached-1.0.18/*/backtrace.o

libmemcached-1.0.18/*/*/*.o
libmemcached-1.0.18/*/*/*.lo
libmemcached-1.0.18/*/*/*.la
libmemcached-1.0.18/*/*/*.dirstamp
libmemcached-1.0.18/*/*/backtrace.o

libmemcached-1.0.18/*/.deps/*
libmemcached-1.0.18/*/.libs/*

libmemcached-1.0.18/*/*/.deps/*
libmemcached-1.0.18/*/*/.libs/*

libmemcached-1.0.18/*/memcapable
libmemcached-1.0.18/*/memcat
libmemcached-1.0.18/*/memcp
libmemcached-1.0.18/*/memdump
libmemcached-1.0.18/*/memerror
libmemcached-1.0.18/*/memexist
libmemcached-1.0.18/*/memflush
libmemcached-1.0.18/*/memparse
libmemcached-1.0.18/*/memping
libmemcached-1.0.18/*/memrm
libmemcached-1.0.18/*/memslap
libmemcached-1.0.18/*/memstat
libmemcached-1.0.18/*/memtouch

libmemcached-1.0.18/tests/*

libmemcached-1.0.18/libmemcached-1.0/t/*
libmemcached-1.0.18/libtest/*
libmemcached-1.0.18/libtool
libmemcached-1.0.18/stamp-h1

libmemcached-1.0.18/Makefile
libmemcached-1.0.18/aminclude.am
libmemcached-1.0.18/autom4te.cache/
libmemcached-1.0.18/config.log
libmemcached-1.0.18/config.status
libmemcached-1.0.18/docs/conf.py
libmemcached-1.0.18/libhashkit-1.0/configure.h
libmemcached-1.0.18/libhashkit/hashkitcon.h
libmemcached-1.0.18/libmemcached-1.0/configure.h
libmemcached-1.0.18/mem_config.h
libmemcached-1.0.18/mem_config.in~
libmemcached-1.0.18/support/*

libmemcached-1.0.18/Makefile.in
libmemcached-1.0.18/aclocal.m4

libmemcached-1.0.18/m4/*
libmemcached-1.0.18/build-aux/*
libmemcached-1.0.18/configure

count.sh